#cv-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-input-container {
  display: grid;
}

.cv-form-btn-container {
  padding: 1rem;
}

.cv-form-btn {
  margin: 1rem;
  transition: transform 100ms;
}

.cv-form-btn:hover {
  background-color: #e4e4e7;
}

.cv-form-btn:active {
  transition: transform 100ms;
  transform: scale(1.05);
  will-change: transform;
}

@media (min-width: 481px) {
  .form-input-container {
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
  }

  .form-input {
    height: 25%;
  }
}

@media (min-width: 769px) {
  .form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
}
