#cv-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-input-container {
  display: grid;
}

.cv-form-btn-container {
  padding: 1rem;
}

.cv-form-btn {
  margin: 1rem;
  transition: transform 100ms;
}

.cv-form-btn:hover {
  background-color: #e4e4e7;
}

.cv-form-btn:active {
  transition: transform 100ms;
  transform: scale(1.05);
  will-change: transform;
}

@media (min-width: 800px) {
  .form-input-container {
  }
}
